h1
    margin 0
    width 123px
    font-family headerFont
    font-size 47.34px

.defaultBlock_bottom
    align-items baseline

.offer__lang
    font-size 16px
    font-family headerFont
    transform rotate(270deg)
    transform-origin bottom right

.offer__info
    align-self flex-end

.lang
    color grayText

.lang:hover
    color #000
    cursor pointer

h2
    margin 0 auto
    width 132px
    font-family headerFont
    font-size 34px

.portfolio__item
    margin 0 0 60px 0
    font-size 18px
    font-family mainFont
    line-height 22px
    text-align center
    text-decoration-line underline

.portfolio
    padding 60px 0 60px 0
    background grayBG

.contacts
    padding 100px 0 100px 0
    display flex
    flex-direction column
    align-items center
    gap 1rem

.contacts__items
    padding 65px 0 30px 0
    display flex
    flex-direction row
    justify-content space-around
    gap 4rem

.contacts__item    
    display flex
    flex-direction column
    align-items center
    gap 1rem