h1
    margin 0
    width 123px
    font-family headerFont
    font-size 47.34px

.lang
    font-size 16px
    font-family headerFont

.defaultBlock_bottom
    align-items baseline

.offer__lang
    transform rotate(270deg)
    transform-origin bottom right