h1
    margin 0
    width 123px
    font-family headerFont
    font-size 47.34px

.defaultBlock_bottom
    align-items baseline

.offer__lang
    font-size 16px
    font-family headerFont
    transform rotate(270deg)
    transform-origin bottom right

.offer__info
    align-self flex-end

.lang
    color grayText

.lang:hover
    color #000
    cursor pointer