extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	.firstBlock
		.defaultBlock
			h1 Denis Novik
			.defaultBlock__item
				p UX | UI designer
				p 24 years old, Minsk
			p.lang RU | ENG
		img(src="static/img/content/DenisNovik.png", alt="Denis Novik")