extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	.offer
		.defaultBlock.defaultBlock_bottom
			.offer__name
				h1 Denis Novik
			.offer__info
				p UX | UI designer
				p.offer__info2 24 years old, Minsk
			.offer__lang
				p <span class="lang">RU</span> | ENG
		.img
			img(src="static/img/content/DenisNovik.png", alt="Denis Novik")