extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	.offer
		.defaultBlock.defaultBlock_bottom
			.offer__name
				h1 Denis Novik
			.offer__info
				p UX | UI designer
				p.offer__info2 24 years old, Minsk
			.offer__lang
				p <span class="lang">RU</span> | ENG
		.img
			img(src="static/img/content/DenisNovik.png", alt="Denis Novik")

	block content
		.portfolio
			.portfolio__header
				h2 Portfolio
				.portfolio__item
					img(src="static/img/content/Portfolio1.png", alt="Portfolio1")
					p Online fashion store - Homepage
				.portfolio__item
					img(src="static/img/content/Portfolio2.png", alt="Portfolio2")
					p Reebok Store - Concept	
				.portfolio__item
					img(src="static/img/content/Portfolio3.png", alt="Portfolio3")
					p Braun Landing Page - Concept	