@font-face {
	font-family: Gilroy Medium;
	src: url("/static/fonts/Gilroy-Medium.ttf") format("truetype");
}

@font-face {
	font-family: Gilroy Bold;
	src: url("/static/fonts/Gilroy-Bold.ttf") format("truetype");
}