// ЦВЕТА


// РАЗМЕРЫ
baseFontSize = 18px
bigFontSize = 34px
smallFontSize = 14px

// ШРИФТЫ
/*
@font-face
	font-family: 'Gilroy Medium';
	src: url(/static/fonts/Gilroy-Medium.ttf) format('ttf');

@font-face
	font-family: 'Gilroy Bold';
	src: url(/static/fonts/Gilroy-Bold.ttf) format('ttf');
*/
mainFont = Gilroy Medium
headerFont = Gilroy Bold